@import 'base/variables';
@import 'base/mixin'; 

#wrap{
    &.chart {
        @include vp(padding-top, 112px);
        .cm_date_contents {
            .date_setting {
                @include vp(margin-top, 20px);
            }
        }
        .chart_wrap {
            @include vp(margin, 40px 40px 0px);
            @include vp(padding, 60px 60px 80px);
            @include vp(border-radius, 16px);
            background-color: $light-gray-4;
            h3 {
                @include vp(margin-bottom, 40px);
                @include vp(font-size, $f16);
                font-weight: $fw6;
                text-align: center;
            }
        }
    }
}