@import 'base/variables';
@import 'base/mixin';

.guide {
    background: #999;

    .guide_box {
        .guide_list {
            display: block;

            >li {
                position: relative;
                @include vp(border-radius, 40px 40px 16px 16px);
                background: $white;
                overflow: hidden;
                @include vp(margin-top, 40px);

                .guide_top {

                    width: 100%;
                    @include vp(height, 364px);
                    background: linear-gradient(180deg, #4E4E4E -22.34%, #222 94.32%);
                    @include vp(padding, 48px);

                    .text_box {
                        position: relative;
                        z-index: 2;

                        h3 {
                            @include vp(font-size, 80px);
                            @include vp(padding-top, 48px);
                            color: $white;
                            font-weight: 400;
                        }

                        p {
                            @include vp(padding-top, 24px);
                            color: $white;
                            @include vp(font-size, 20px);
                            font-weight: 400;
                        }
                    }


                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        @include vp(width, 465px);
                        @include vp(height, 364px);
                        background: url("../images/guide/vector.png") 0 0 no-repeat;
                        @include vp(background-size, 465px auto);
                        z-index: 1;
                    }
                }

                .guide_bottom {
                    @include vp(padding, 40px);

                    .text_list {
                        $font-sizes: (
                            $f16,
                            $f15,
                            $f14,
                            $f13,
                            $f12
                        );

                    li {
                        @each $size in $font-sizes {
                            &:nth-child(#{index($font-sizes, $size)}) {
                                p {
                                    font-size: $size;
                                    color: $black;
                                    font-weight: $fw4;
                                }
                            }
                        }
                    }
                }

                .color_list {
                    display: flex;
                    flex-wrap: wrap;
                    @include vp(gap, 22px);

                    .cricle {
                        @include vp(width, 140px);
                        @include vp(height, 140px);
                        @include vp(border-radius, 100px);
                    }

                    p {
                        @include vp(font-size, 20px);
                        color: $black;
                        text-align: center;
                        @include vp(margin, 20px auto 0);
                    }
                }

                .guide_line_list {
                    &.row {
                        li {
                            @include vp(margin-top, 36px);

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }

                    &.vertical {
                        display: flex;
                        @include vp(margin-top, 40px);

                        li {
                            @include vp(margin-left, 100px);

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }

                }

                .buttons_list {
                    li {
                        display: flex;
                        @include vp(gap, 30px);
                    }
                }



            }

            &:first-child {
                margin-top: 0;
            }
        }

    }
}

}


.radio_group {
    display: flex;
    align-items: center;

    .radio_list {
        display: inline-flex;
        width: 50%;

        li {
            @include vp(margin-left, 24px);

            &:first-child {
                margin-left: 0;
            }
        }

    }
}

.toggle_list {
    display: flex;
    align-items: center;


}


.page {
    background-color: #f4f4f4;
    font-family: 'Pretendard', sans-serif; 

    h2 {
        @include vp(padding, 24px 0);
        @include vp(font-size, 36px );
        text-align: center;
        font-weight: 600;
    }

    th,
    td {
        vertical-align: middle;
        text-align: center;
        @include vp(font-size, 24px );
        font-weight: 400;
        border: 1px solid #0a9a7d;
    }

    .table-scroll {
        position: relative;
        max-width: 1680px;
        @media screen and (max-width: 1401px) {
            max-width: 1400px;
            
        }
        margin: auto;
        overflow: hidden;
        border-right: 1px solid #0a9a7d;
        border-bottom: 1px solid #0a9a7d;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
        @include vp(margin-bottom, 40px );
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th,
    .table-scroll td {
        @include vp(padding, 20px );
        white-space: nowrap;
    }

    .table-scroll th {
        font-weight: 600;
        background: #0a9a7d;
        color: #fff;

    }

    .table-scroll td {
        background: #fff;
        a{ color: $black; text-decoration: none;}
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .clone th,
    .clone td {
        visibility: hidden;
    }

    .clone .fixed-side {
        /* border:1px solid #707070; */
        visibility: visible;
    }



}