@import 'base/variables';
@import 'base/mixin'; 


#wrap {
    &.login {
        section {
            @include vp(padding, 140px 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #F6F6F6;
            min-height: 100vh;
            overflow: hidden;
            .logo {
                display: block;
                @include vp(width, 320px);
    
            }
            .login_wrap {
                .login_box {
                    @include vp(padding, 200px 80px 80px);
                    & > div {
                        position: relative;
                        input {
                            @include vp( width, 670px);
                            @include vp( height, 100px);
                            @include vp( border-radius, 12px);
                            @include vp( text-indent, 28px);
                            border: 1px solid $light-gray-1;
                            background: $white;
                            @include vp(font-size, $f13);
                            &:focus {
                                outline: 1px solid $black;
                                font-weight: $fw6;
                            }
                        }
                        .btn_delete {
                            display: none;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            @include vp( padding,50px 42px);
                            @include vp( width, 32px);
                            @include vp( height, 32px);
                            background: url("../images/btn/btn_login_delete.png") center center no-repeat;
                            @include vp(background-size, 32px auto); 
                            cursor: pointer;
                            &.on {
                                display: block;
                            }
                        }
                        &:first-child {
                            @include vp( margin-bottom, 20px);
                        }
                    }
                    .auto_login {
                        @include vp( margin-top, 28px);
                    }
                }
                .login_btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button {
                        @include vp( width, 670px);
                        @include vp( height, 100px);
                        @include vp( font-size, $f16);
                        font-weight: 700;
                        @include vp( border-radius, 12px);
                        &:first-child {
                            background: $light-gray-1;
                            color: $white;
                            &.on {
                                background: $green;
                            }
                        }
                        &:last-child {
                            @include vp( margin-top, 20px);
                            border: 1px solid #0000001F;
                            color: #00000094;
                        }
                    }
                }
            }
        }
    }
}