@import 'base/variables';
@import 'base/mixin';
@import 'common';
#wrap{
    &.message{
        @include vp(padding-top, 112px); 
        section{
            @include vp(padding-bottom, 300px );
            /*수신팀 상세 지정 */
            &.detail{
                >.inner{
                    @include vp(padding, 0 40px );
                    .team_contents{
                        @include vp(padding-top, 60px );
                        .select_title{
                            .basic{
                                color: $light-gray-1;
                                @include vp(font-size, $f15 );
                                font-weight: $fw6;
                            }
                            .select_team{
                                color: $black-87;
                                @include vp(font-size, $f15 );
                                font-weight: $fw6;
                            }
                            .button_grop {
                                .inner {
                                    @include vp(padding-top, 40px );
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    justify-content: flex-start;



                                    position: relative;
                                    .btn_list {
                                        @include vp(gap, 8px);
                                        @include vp(height, 64px);
                                        width: 100%;
                                        position: relative;
                                        display: flex;
                                        flex-wrap: nowrap;
                                        flex-direction: row;
                                        align-items: center;
                                        overflow-x: scroll;
                                        overflow-y: hidden;
                                        li {
                                            position: relative;
                                            flex: 0 0 auto;
                        
                                            .tag {
                                                position: relative;
                                                @include vp(font-size, $f12);
                                                @include vp(padding, 20px 60px 20px 20px);
                                                @include vp(height, 64px);
                                                font-weight: 500;
                                                color: $green;
                                                @include vp(letter-spacing, .1px);
                                                text-align: center;
                                                @include vp(border-radius, 12px);
                                                @include vp(border, 2px solid $green);
                                                background-color: $white;
                        
                                            }
                        
                                            .btn_close {
                                                display: block;
                                                position: absolute;
                                                @include vp(top, 19px);
                                                @include vp(right, 20px);
                                                @include vp(width, 28px);
                                                @include vp(height, 28px);
                                                background: url("../images/btn/btn_close_green.png") 0 0 no-repeat;
                                                @include vp(background-size, 28px auto);
                                                z-index: 10;
                                            }
                                           
                                        }
                                    }
                                }
                            }

                        }
                        .checkbox_list{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            @include vp(margin-top, 40px );
                            li{
                                @include vp(margin-left, 40px );
                                cursor: pointer;
                                &:nth-child(3n+1) {
                                    margin-left: 0;
                                }
                            }
                        }
                        .input_contents{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            @include vp(padding-top, 40px ); 
                            .input_box{
                                position: relative;
                                width: 100%;
                                @include vp(height, 80px );
                                >input{
                                    position: absolute;
                                    top:0;
                                    left:0;
                                    width: 100%;
                                    height: 100%;
                                    border:0;
                                    @include vp(border-radius, 12px );
                                    @include vp(font-size, 26px );
                                    @include vp(letter-spacing, .5px );
                                    @include vp(padding, 24px 60px 24px 80px );
                                    box-sizing: border-box;
                                    @include vp(border, 2px solid $light-gray-6 );
                                    @include vp(border-radius, 12px );
                                    color:$black;
                                    background: #fff;
                                    font-weight: 400;
                                    &::placeholder {
                                        color:    #bbb;
                                        @include vp(font-size, 26px );
                                        @include vp(letter-spacing, .5px );
                                        font-weight: 400;
                                     }
                                     &:focus{
                                        @include vp(border, 2px solid $black );
                                    }    
                                } 
                                &.active{
                                    &:before{
                                        background: url( "../images/icons/icon_searh_on.png") 0 0 no-repeat;
                                        @include vp(background-size, 80px auto );
                                    }
                                }
                                &:before{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top:0;
                                    left:0;
                                    @include vp(width, 80px );
                                    @include vp(height, 80px );
                                    background: url( "../images/icons/icon_searh.png") 0 0 no-repeat;
                                    @include vp(background-size, 80px auto );
                                    z-index: 1;
                                }
                                 
                                .btn_text_delete{
                                    display: none;
                                    position: absolute;
                                    @include vp(top, 24px ); 
                                    @include vp(right, 28px ); 
                                    @include vp(width, 32px ); 
                                    @include vp(height, 32px );
                                    background: url("../images/btn/btn_searh_delete.png") 0 0 no-repeat;
                                    @include vp(background-size, 32px  auto );
                                }
                            }   
                        }
                        .team_list_contents{
                            @include vp(margin-top, 60px );
                            .team_list{
                                li{
                                    @include vp(padding-bottom, 36px );
                                    @include vp(margin-bottom, 36px );
                                    @include vp(border-bottom, 2px solid $light-gray-3 );
                                    .checkbox_container {
                                        input[type="checkbox"] {
                                            display: none;
                                            &:checked + label::after {
                                                background: url("../images/btn/btn_check_round_on.png") 0 0 no-repeat;
                                                @include vp(background-size, 64px auto);
                                            }
                                        }
                                        label {
                                            display: flex;
                                            width: 100%;
                                            cursor: pointer;
                                            color: $black;
                                            @include vp(font-size, $f15);
                                            font-weight: $fw4;
                                            align-items: center;
                                            &::after {
                                                content: "";
                                                display: block;
                                                margin-left:auto;
                                                @include vp(width, 64px);
                                                @include vp(height, 64px);
                                                border-radius: 50%;
                                                background: url("../images/btn/btn_check_round_off.png") 0 0 no-repeat;
                                                @include vp(background-size, 64px auto);
                                            }
                                        }

                                    }
                                }
                            }
                            .nodata{
                                @include vp(margin-top, 280px );
                                color:$black;
                                text-align: center;
                                @include vp(font-size, $f15 );
                                font-weight: $fw4;
                                line-height: 22px; 
                                @include vp(line-height, 44px );
                            }
                        }
                       
                    }
                }
            }
        }
        .title{
            color:$black-87;
            @include vp(font-size, $f15);
            font-weight: $fw6;
        }
        .message_contents{
            .inner{
                @include vp(padding, 60px 40px 120px 40px);
             
                .textarea_contents{
                    position: relative;
                    @include vp(margin-top, 40px);
                    @include vp( height, 280px); 
                    @include vp( border-radius, 16px); 
                    @include vp(border,  2px solid $light-gray-2); 
                    .textarea_box{
                        position: relative;
                        @include vp( height, 220px); 
                        @include vp( max-height, 220px); 
                        overflow: auto;
                        @include vp(border,  2px solid transparent); 
                        // &::-webkit-scrollbar-thumb {
                        //     background: #888;
                        //     border-radius: 10px;
                        // }
                        // &::-webkit-scrollbar-thumb:hover {
                        //     background: #555;
                        // }
                        // &::-webkit-scrollbar-thumb:horizontal {
                        //     height: 6px;
                        // }
                        // &::-webkit-scrollbar-thumb:vertical {
                        //     width: 6px;
                        // }
                        // &::-webkit-scrollbar-corner {
                        //     background: #f1f1f1;
                        // }
                    }
                    textarea {
                        position: absolute;
                        top:0;
                        left:0;
                        @include vp(padding, 28px 28px 55px 28px);   
                        @include vp( line-height, 40px);   
                        @include vp( font-size, $f13); 
                        @include vp( border-radius, 16px); 
                        @include vp( height, 100%); 
               
                        width:100%;
                        background: $white;
                        resize: none;
                        font-weight: $fw4;
                        color:$light-gray-1;
                        border:0;
                   
                    }
                    .byte_num{
                        position: absolute;
                        @include vp( bottom, 28px); 
                        @include vp( right, 28px); 
                        color:$light-gray-1;
                        @include vp( font-size, $f13); 
                        font-size: $f11;
                        font-weight: $fw4;
                    }
                }
            }
        }
        .receiver_contents{
            .inner{
                @include vp(padding, 0 40px);
                .title{
                    @include vp(padding-bottom, 40px);
                    @include vp(margin-bottom, 40px);
                    @include vp(border-bottom, 2px solid $light-gray-2);  
                }
                .check_box{
                    @include vp(margin-bottom, 80px );
                  .checkbox_list{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        flex: 1 1 50%;
                        box-sizing: border-box;
                        text-align: left;
                        @include vp(margin-bottom, 44px);
                    }
                    li:nth-child(odd):nth-last-child(-n+2),
                    li:nth-child(even):nth-last-child(-n+2) {
                        margin-bottom: 0;
                    }
                  }  
                }
                .team_contents{
                    position: relative;
                    display: flex;
                    align-items: center;
                    .text{
                        position: relative;
                        display: inline-flex; 
                        color: $green;
                        @include vp(font-size, $f15);
                        font-weight: $fw4;
                        &:before{
                            content: '';
                            position: absolute;
                            bottom:0;
                            left:0;
                            width: 100%;
                            @include vp(height, 2px);
                            background: $green;
                        }
                    }
                    .btn_team{
                        content: '';
                        display: block;
                        @include vp(width, 64px);
                        @include vp(height, 64px);
                        margin-left:auto;
                        background:url("../images/btn/btn_plus_g.png") 0 0 no-repeat;
                        @include vp(background-size, 64px auto);
                    }
                }
                .button_grop {
                    .inner {
                        @include vp(padding, 20px 0 20px 0);
                        position: relative;
                        .btn_list {
                            width: 100%;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            @include vp(gap, 8px);
                            align-items: center;
            
                            li {
                                position: relative;
                                flex: 0 0 auto;
            
                                .tag {
                                    position: relative;
                                    @include vp(font-size, $f12);
                                    @include vp(padding, 20px 60px 20px 20px);
                                    @include vp(height, 64px);
                                    font-weight: 500;
                                    color: $green;
                                    @include vp(letter-spacing, .1px);
                                    text-align: center;
                                    @include vp(border-radius, 12px);
                                    @include vp(border, 2px solid $green);
                                    background-color: $white;
            
                                }
            
                                .btn_close {
                                    display: block;
                                    position: absolute;
                                    @include vp(top, 19px);
                                    @include vp(right, 20px);
                                    @include vp(width, 28px);
                                    @include vp(height, 28px);
                                    background: url("../images/btn/btn_close_green.png") 0 0 no-repeat;
                                    @include vp(background-size, 28px auto);
                                    z-index: 10;
                                }
                               
                            }
                        }
                    }
                }
            }
        }

        .submit_box{
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 750px;
            background: #fff;
            @include vp(border-top, 2px solid $light-gray-2);
            z-index: 10;
            .inner{
                @include vp(padding, 40px 40px 86px 40px);
                .cm_btn_round{
                    width: 100%;

                    span{
                        @include vp(padding, 30px 0 );
                        @include vp(font-size, $f16);
                        font-weight: $fw7;
                        // line-height: 20px; /* 125% */
                        @include vp(letter-spacing, 0.2px);
                    }
                }
            }
        }
    }
}