@import 'base/variables';
@import 'base/mixin'; 

#wrap {
    &.report {
        @include vp( font-size, 32px);
        @include vp( padding-top, 112px);
        .category_wrap {
            display: flex;
            align-items: center;
            @include vp( padding, 28px 40px); 
            @include vp( margin-bottom, 40px); 
            background: #EEE;
            .menu_img{
                @include vp( padding, 20px); 
                @include vp( margin-right, 40px); 
                background: #fff;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
                img {
                    @include vp( width, 70px); 
                }
            }
            .category_box {
                display: flex;
                flex-direction: column;
                .title {
                    @include vp( font-size, 22px); 
                    color: rgba(0, 0, 0, 0.58);
                }
                .category_info {
                    @include vp( font-size, 30px); 
                    font-weight: 600;
                    .text01 {
                        @include vp( padding-right, 30px); 
                        @include vp( margin-right, 8px); 
                        background: url("../images/icons/ico_arrow_right.png") center right no-repeat;
                        @include vp(background-size, 12px auto); 
                    }
                }
            }
        }
    
        .create_form {
            @include vp( padding-left, 40px); 
            .file_upload_wrap {
                @include vp( margin-bottom, 60px); 
                .title01 {
                    @include vp( font-size, 30px); 
                    @include vp( margin-bottom, 20px); 
                    font-weight: 600;
                }
                .file_list {
                    display: flex;
                    flex-direction: row;
                    li {
                        position: relative;
                        @include vp( margin-right, 8px); 
                    }
                    .btn_upload {
                        display: block;
                        @include vp( width, 210px); 
                        @include vp( height, 210px); 
                        background: #eee url("../images/icons/ico_fileupload.png") no-repeat center;
                        @include vp(  background-size, 48px auto);
                        border-radius: 6px;
                        input {
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
                    .img_box {
                        position: relative;
                        @include vp( width, 210px); 
                        @include vp( height, 210px); 
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(0, -50%);
                            width: 100%;
                            height: auto;
                            @include vp( border-radius, 12px); 
                        } &::before{
                            content: '';
                            display: block;
                            padding-top: 100%;
                        }
                    }
                    .btn_delete {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        @include vp( width, 54px); 
                        @include vp( height, 54px); 
                        background:  url("../images/btn/btn_file_delete.png") no-repeat center;
                        @include vp(background-size, 54px auto);
                        cursor: pointer;
                    }
                }
            }
            .form_box {
                display: flex;
                align-items: center;
                @include vp( margin-bottom, 40px);
                .title01 {
                    @include vp( font-size, 26px); 
                    @include vp( min-width, 132px); 
                    text-wrap: nowrap;
                    font-weight: 600;
                }
                .form_list{
                    display: flex;
                    &.scroll {
                        padding-bottom: 1px;
                        overflow-y: auto;
                        &::-webkit-scrollbar{width: 3px; height:3px;}
                        &::-webkit-scrollbar-thumb {border-radius: 10px; background: #888;}
                    }
                    li {
                        @include vp( padding, 24px 30px);
                        @include vp( font-size, 26px); 
                        @include vp( margin-right, 8px);
                        color: rgba(0, 0, 0, 0.58);
                        @include vp( border-radius, 12px);
                        border: 1px solid #EEE;
                        text-wrap: nowrap;
                        &.on {
                            border: 1px solid #00A862;
                            color: #00A862;
                            font-weight: 600;
                        }
                        &.select_box {
                            position: relative;
                            padding: 0px;
                           .select_option {
                            position: relative;
                            @include vp( padding, 24px 60px 24px 20px); 
                                &::after {
                                    content: '';
                                    position: absolute;
                                    @include vp(top, 20px);
                                    @include vp(right, 16px);
                                    @include vp(width, 24px);
                                    @include vp(height, 32px);
                                    background: url("../images/icons/ico_arrow_down.png") center right no-repeat;
                                    @include vp(background-size, 24px auto);
                                }
                           }
                           .option_list {
                            display: none;
                            position: absolute;
                            @include vp( top, 80px); 
                            @include vp( height, 200px); 
                            left: 0px;
                            border: 1px solid #EEE;
                            background-color: #fff;
                            @include vp( border-radius, 12px);
                            overflow-y: auto;
                            &.active {
                                display: block;
                                }
                            li {
                                border: none;
                                }
                           }
                        }
                        &.text_box {
                            position: relative;
                            @include vp( width, 536px);
                            input {
                                background: none;
                                border: none;
                                width: 100%;
                            }
                            .btn_delete {
                                display: none;
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                @include vp( padding, 40px);
                                @include vp( width, 32px);
                                @include vp( height, 32px);
                                background: url("../images/btn/btn_login_delete.png") center center no-repeat;
                                @include vp(background-size, 32px auto); 
                                font-size: 0px;
                                cursor: pointer;
                                &.on {
                                    display: block;
                                }
                            }
                            &.on {
                                border: 1px solid #000;
                            }
                        }
                    }
                }           
            }
        }
    
        .write_preview {
            @include vp( margin, 0px 40px);     
            @include vp( padding, 0px 40px);     
            border-radius: 8px;
            background: #F7F7F7;
            .preview_header {
                @include vp( padding-top, 60px);    
                h3 {
                    @include vp( padding-bottom, 40px);
                    @include vp( font-size, 30px);        
                    font-weight: 700;
                    border-bottom: 1px solid #333;
                    span {
                        @include vp( padding-left, 20px); 
                        color: rgba(0, 0, 0, 0.56);
                        @include vp( font-size, 22px); 
                    }
                }
            }
            .preview_list {
                @include vp( padding-top, 40px);
                @include vp( padding-bottom, 80px); 
                li {
                    @include vp( padding-bottom, 40px); 
                    @include vp( margin-bottom, 40px); 
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        border-bottom: none;
                    }
                    &:first-child {
                        dl {
                            padding-bottom: 0px;
                        }
                    }
                    dl {
                        display: flex;
                        justify-content: space-between;
                        align-items: center; 
                        @include vp( line-height, 40px); 
                        @include vp( padding-bottom, 20px); 
                        @include vp( font-size, 26px);  
                        dt {
                            color: rgba(0, 0, 0, 0.58);
                        }
                        dd {
                            span {
                                @include vp( padding, 10px 10px 10px 52px); 
                                display: inline-block;
                                border: 1px solid #000;
                                border-radius: 6px;
                            }
                            .emerg01 {
                                background: url("../images/icons/ico_emergency01.png") center left no-repeat;
                                @include vp(background-size, 40px auto); 
                                @include vp(background-position-x, 6px); 
                            }
                            .emerg02 {
                                background: url("../images/icons/ico_emergency02.png") center left no-repeat;
                                @include vp(background-size, 40px auto); 
                                @include vp(background-position-x, 6px); 
                            }
                        }
                    }
                    textarea {
                        @include vp(padding, 40px);   
                        @include vp( line-height, 40px);   
                        @include vp( font-size, 26px); 
                        @include vp( height, 252px); 
                        width:100%;
                        border: none;
                        background: #EDEDED;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 8px;
                    }
                    .checkbox01 {
                        position:relative;
                        display:inline-block;
                        input[type="checkbox"] {
                            position:absolute;
                            top:0;
                            left:0;
                            border: none;
                            opacity: 0;
                        }
                        label {
                            display: inline-flex;
                            align-items: center;
                            @include vp(padding-left, 84px);
                            background:url("../images/btn/btn_check_off.png") no-repeat;
                            @include vp(background-size, 44px auto);
                            @include vp(min-height, 44px);
                            @include vp(line-height, 44px);
                            @include vp( font-size, 30px); 
                            font-weight: 700;
                        }
                        input[type="checkbox"]:checked + label {
                            background:url("../images/btn/btn_check_on.png")  no-repeat;
                            @include vp(background-size, 44px auto);
                        }
                    }
                    .switch_box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h4 {
                            @include vp( font-size, 30px); 
                            font-weight: 700;
                        }
                        .switch01 {
                            position: relative;
                            display: inline-block;
                            @include vp(width, 104px); 
                            @include vp(height, 64px); 
                            
                            .slider {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                cursor: pointer;
                                background-color: #ddd;
                                @include vp(border-radius, 200px); 
                                transition: 0.4s;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    @include vp(width, 48px); 
                                    @include vp(height, 48px); 
                                    border-radius: 50%;
                                    background: #fff;
                                    @include vp(left, 8px); 
                                    @include vp(top, 8px); 
                                    transition: 0.4s;
                                }
                            }
                            input[type="checkbox"]:checked + .slider {
                                background: #00A862;
                            }
                            input[type="checkbox"]:checked + .slider {
                               &::before {
                                @include vp(transform, translateX(20px)); 
                               }
                            }
                        }
                    }
                }
            }
        }
        .btn_report {
            @include vp( margin, 40px); 
            display: flex;
            justify-content: space-around;
            align-items: center;
            button {
                @include vp( padding, 32px 0px); 
                @include vp( font-size, 36px); 
                font-weight: 700;
                color: #fff;
                border-radius: 8px;
                background: #00A862;
                width: 100%;
            }
        }
    }

    &.detail {
        @include vp( padding-top, 112px);
        .detail_visual {
            position: relative;
            overflow: hidden;
            @include vp( margin-bottom, 60px);
            .swiper-pagination {
                @include vp( bottom, 50px); 
                left:50%; 
                transform: translateX(-50%);
                width:auto;
            }
            .swiper-pagination-bullet {
                @include vp( margin, 0px 4px); 
                @include vp( width, 16px); 
                @include vp( height, 16px); 
                background: #FFFFFF80;
                border: 1px solid #00000061;
            }
            .swiper-pagination-bullet-active {
                background: $green;
            }
            // .img_box {
            //     position: relative;
            //     overflow: hidden;
            //     img {
            //         position: absolute;
            //         top: 50%;
            //         left: 0;
            //         transform: translate(0, -50%);
            //         width: 100%;
            //         height: auto;
            //     } &::before{
            //         content: '';
            //         display: block;
            //         padding-top: 140%;
            //     }
            // }
        }
        .detail_wrap {
            @include vp( margin, 0px 40px); 
            .detail_box{
                @include vp( padding-bottom, 50px); 
                @include vp( margin-bottom, 40px); 
                border-bottom: 1px solid #EEE;
                &:nth-child(3) {
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
                .info_header {
                    @include vp( margin-bottom, 14px); 
                    display: flex;
                    align-items: center;
                    .badge {
                        > span {
                            @include vp( margin-right, 8px); 
                            @include vp( font-size, 22px); 
                            @include vp( padding, 8px 16px); 
                            @include vp( border-radius, 12px); 
                            &.done {
                                color: #00A862;
                                background: #EBFFF7;
                                border: 1px solid #00A862;
                            }
                            &.urgency {
                                color: #F00;
                                background: #FFF6F6;
                                border: 1px solid #FF7A7A;
                            }
                            &.general {
                                color: #333333;
                                background: #EEE;
                                border: 1px solid #DDD;
                            }
                        }
                    }
                    .location {
                        @include vp( margin-left, 16px); 
                        @include vp( font-size, 24px); 
                    }
                }
                .incident_box {
                    display: flex;
                    .text01 {
                        font-weight: 600;
                        @include vp( font-size, 30px); 
                        color: #000000DE;
                        &:first-child {
                            position: relative;
                            @include vp( padding-right, 40px); 
                            &::before {
                                content: '';
                                position: absolute;
                                @include vp( top, 4px);
                                @include vp( right, 18px);
                                @include vp( bottom, 0px);
                                @include vp( width, 4px);
                                @include vp( height, 26px);
                                background: #888888;
                            }
                        }
                    }
                }
                .detail_info {
                    @include vp( margin-top, 20px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .date_box {
                        span {
                            @include vp( margin-right, 20px);
                            @include vp( font-size, 24px); 
                            color: #888888;
                            &.comments {
                                @include vp( padding-left, 32px);
                                background: url("../images/icons/ico_rate_review.png") center left no-repeat;
                                @include vp(background-size, 28px auto); 
                            }
                        }
                    }
                    .tag_box {
                        span {
                            @include vp( padding, 8px 16px);
                            @include vp( margin-left, 8px);
                            @include vp( font-size, 22px); 
                            @include vp( border-radius, 12px);
                            color: #00A862;
                            background: rgba(0, 168, 98, 0.14);
                        }
                    }
                }
                .report_info {
                    dl {
                       display: flex; 
                       align-items: center;
                       @include vp( margin-bottom, 24px); 
                       @include vp( font-size, 26px);
                       text-align: center;
                       line-height: normal;
                       &:last-child {
                        margin-bottom: 0px;
                       }
                       &.emerge_box {
                        @include vp( margin-bottom, 40px); 
                        &.emerge_box {
                            span {
                                @include vp( padding, 10px 10px 10px 52px); 
                                display: inline-block;
                                border: 1px solid #000;
                                border-radius: 6px;
                            }
                            .emerg01 {
                                background: url("../images/icons/ico_emergency01.png") center left no-repeat;
                                @include vp(background-size, 40px auto); 
                                @include vp(background-position-x, 6px); 
                            }
                            .emerg02 {
                                background: url("../images/icons/ico_emergency02.png") center left no-repeat;
                                @include vp(background-size, 40px auto); 
                                @include vp(background-position-x, 6px); 
                            }
                        }
                       }
                       dt {
                        @include vp( margin-right, 70px); 
                        @include vp( min-width, 90px); 
                        color: #00000057;
                        text-align: left;
                       }
                       dd {
                            a {
                                color: #000;
                            }
                            &.border {
                                border-bottom: 1px solid #000;
                            }
                        }
                    }
                }
                .btn_box {
                    display: flex;
                    flex-direction: column;
                    span {
                        @include vp( padding, 20px 20px 20px 60px);
                        @include vp( border-radius, 12px);
                        border: 1px solid #EEE;
                        @include vp( font-size, 18px);
                        cursor: pointer;
                        &.btn01 {
                            background: url("../images/icons/ico_mobile.png") center left no-repeat;
                            @include vp(background-size, 40px auto); 
                            @include vp(background-position-x, 8px); 
                        }
                        &.btn02 {
                            @include vp( margin-top, 12px);
                            background: url("../images/icons/ico_sms.png") center left no-repeat;
                            @include vp(background-size, 40px auto); 
                            @include vp(background-position-x, 8px); 
                        }
                    }
                }
            }
            .notice {
                @include vp( margin-top, 80px); 
                @include vp( margin-bottom, 40px);
                @include vp( padding, 40px);
                @include vp( border-radius, 16px);
                background: #F7F7F7;
                @include vp( line-height, 40px);
                @include vp( font-size, 26px);
                color: #00000094;
            }
            .btn_wrap {
                @include vp( margin-bottom, 80px);
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                        @include vp( width, 330px);
                        @include vp( height, 84px);
                        @include vp( border-radius, 16px);
                        @include vp( font-size, 30px);
                        font-weight: 600;
                        &.btn_type01 {
                            @include vp( margin-right, 10px);
                            background: #00A862;
                            color: #fff;
                        }
                        &.btn_type02 {
                            border: 1px solid #00A862;
                            color: #00A862;
                        }
                    }
                }
            }
        }
        .comment_wrap {
            @include vp( margin, 0px 40px 160px); 
            &.comment-detail {
                @include vp( padding-top, 60px);
            }
            .comment_header {
                @include vp( padding-bottom, 24px); 
                @include vp( margin-bottom, 48px); 
                @include vp( line-height, 40px); 
                border-bottom: 1px solid #000;
               span{
                   @include vp( font-size, 30px);
                    font-weight: 600;
                    .num {
                        @include vp( margin-left, 6px); 
                    }
               }
            } 
            .comment_box {
                @include vp( padding-bottom, 40px); 
                @include vp( margin-bottom, 48px); 
                border-bottom: 1px solid #00000052;
                &:last-child {
                    border-bottom: none;
                }
                .info01 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include vp( margin-bottom, 20px);
                    @include vp( line-height, 48px);
                    .user {
                        @include vp( font-size, 30px);
                        font-weight: 600;
                        .name {
                            position: relative;
                            cursor: pointer;
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                @include vp( bottom, 2px);
                                background: #000;
                                height: 1px;
                            }
                        }
                    }
                }
                .info02 {
                    @include vp( margin-bottom, 20px);
                    @include vp( font-size, 24px);
                    color: #888;
                    span {
                        @include vp( margin-right, 20px);
                        &.count {
                           color: #1BA085;
                        }
                    }
                }
                .info03 {
                    @include vp( margin-bottom, 30px);
                    @include vp( font-size, 26px);
                    @include vp( line-height, 40px);
                    color: #00000094;
                }
                .btn_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .btn_recomment {
                        display: inline-flex;
                        align-items: center;
                        @include vp( padding-left, 60px);
                        @include vp( height, 48px);                    
                        background: url("../images/icons/ico_edit_review.png") center left no-repeat;
                        @include vp(background-size, 48px 48px);
                        cursor: pointer;
                        span {
                            position: relative;
                            @include vp( font-size, 24px);
                            color: #00000094;
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                @include vp( bottom, 1px);
                                background: #00000094;
                                height: 1px;
                            }
                        }
                    }
                    .comment_edit {
                        span {
                            position: relative;
                            @include vp( font-size, 24px);
                            color: #00000094;
                            cursor: pointer;
                            a {color: inherit;}
                            &.btn_edit {
                                @include vp( margin-right, 20px);
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                @include vp( bottom, 1px);
                                background: #00000094;
                                height: 1px;
                            }
                        }
                    }
                }
                .recomment_box {
                    position: relative;
                    @include vp( padding-top, 40px); 
                    @include vp( margin-top, 22px); 
                    border-top: 1px dashed #DDD;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        @include vp( left, -40px); 
                        @include vp( right, -40px); 
                        @include vp( bottom, -40px); 
                        background: #F6F6F6;
                        z-index: -1;
                    }
                    > li {
                        position: relative;
                        @include vp( padding-bottom, 40px); 
                        @include vp( margin-bottom, 40px); 
                        border-bottom: 1px dashed #DDD;
                        &:last-child {
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                            border-bottom: none;
                        }
                        .text01 {
                            position: relative;
                            @include vp( padding-left, 34px); 
                            @include vp( margin-bottom, 40px); 
                            @include vp( font-size, 26px);
                            @include vp( line-height, 40px);
                            color: #888;
                            .reply {
                                position: absolute;
                                @include vp( top, 8px); 
                                left: 0px;
                                @include vp( width, 24px); 
                                @include vp( height, 24px); 
                                background: url("../images/icons/ico_reply.png") center left no-repeat;
                                @include vp(background-size, 24px auto); 
                            }
                        }
                        .text02 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include vp( padding-left, 34px); 
                            @include vp( font-size, 24px);
                            .comment_info {
                                @include vp( margin-right, 8px); 
                                &.user {
                                    .name {
                                        position: relative;
                                        cursor: pointer;
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: 0px;
                                            right: 0px;
                                            @include vp( bottom, 0px);
                                            background: #000;
                                            height: 1px;
                                        }
                                    }
                                }
                                &.date, &.time {
                                    color: #00000057;
                                }
                            }
                            .comment_edit {
                                span {
                                    position: relative;
                                    @include vp( font-size, 24px);
                                    color: #00000094;
                                    cursor: pointer;
                                    a {color: inherit;}
                                    &.btn_edit {
                                        @include vp( margin-right, 20px);
                                    }
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        left: 0px;
                                        right: 0px;
                                        @include vp( bottom, 0px);
                                        background: #00000094;
                                        height: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn_comment {
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
            @include vp(padding, 20px 40px 60px);
            background: #fff;
            box-shadow: 0 -1px 5px 0px #BBBBBB;
            .text_box {
                position: relative;
                @include vp(padding, 24px 10px 0px 28px);
                @include vp(width, 526px);
                @include vp(border-radius, 16px); 
                border: 1px solid #DDD;
                overflow-y: auto;
                &::-webkit-scrollbar{width: 3px; height:3px;}
                &::-webkit-scrollbar-thumb {border-radius: 10px; background: #888;}
                    &.on {
                    border: 1px solid #000;
                    color: #000;
                }
                textarea {
                    @include vp(padding-right, 30px);
                    @include vp(width, 100%);
                    @include vp(min-height, 56px);
                    @include vp(max-height, 216px);
                    @include vp(line-height, 36px);
                    @include vp(font-size, 26px);
                    color: #797979;
                    outline: none;
                    resize: none;
                    border: none;
                }
                .byte_num {
                    display: none;
                    position: absolute; 
                    @include vp(left, 28px);
                    @include vp(height, 64px);
                    @include vp(bottom, 0px);
                    @include vp(font-size, 26px);
                    color: #AAA;
                    &.on {
                        display: flex;
                        align-items: center;
                    }
                }
                .btn_delete {
                    display: none;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    @include vp( padding, 42px);
                    @include vp( width, 32px);
                    @include vp( height, 32px);
                    background: url("../images/btn/btn_login_delete.png") center center no-repeat;
                    @include vp(background-size, 32px auto); 
                    cursor: pointer;
                    &.on {
                        display: block;
                    }
                }
            }
            button {
                position: absolute;
                @include vp(bottom, 60px);
                @include vp(right, 40px);
                @include vp(padding, 0px 44px); 
                @include vp(height, 80px);
                @include vp(border-radius, 12px); 
                @include vp(font-size, 26px);
                color: rgba(255, 255, 255, 0.58);
                background: #AAAAAA;
                &.on{
                    background: #00A862;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        // 비주얼 상단 스와이퍼 팝업
        .layer_popup {
            .detail_pop_visual {
                position: relative;
                display: flex;
                align-items: center;
                overflow-x: hidden;
                overflow-y: auto;
                min-height: 100vh;
                .swiper-pagination {
                    bottom: 23%;
                    left:50%; 
                    transform: translateX(-50%);
                    width:auto;
                }
                .swiper-pagination-bullet {
                    @include vp( margin, 0px 4px); 
                    @include vp( width, 16px); 
                    @include vp( height, 16px); 
                    background: #FFFFFF80;
                    border: 1px solid #00000061;
                }
                .swiper-pagination-bullet-active {
                    background: $green;
                }
                .img_box {
                    position: relative;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(0, -50%);
                        width: 100%;
                        height: auto;
                    } &::before{
                        content: '';
                        display: block;
                        padding-top: 100%;
                    }
                }
            }
        }
    }
}

