@import 'base/variables';
@import 'base/mixin';


.setting {
    .cm_type_list {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            @include vp(bottom, -12px);
            left: 0;
            width: 100%;
            @include vp(height, 12px);
            background: linear-gradient(0deg, #FFF 9.03%, #F6F6F6 100%);
        }
    }

    .cm_tab_panel {
        .no_alerts {
            display: none;
            @include vp(padding-top, 278px);
            color: $black;
            text-align: center;
            @include vp(font-size, $f15);
            font-weight: $fw4;
        }

        .status_message_box {
            display: none;
            @include vp(padding-top, 266px);

            .alert_message {
                position: relative;
                color: $black;
                @include vp(font-size, $f15);
                font-weight: $fw4;
                text-align: center;

                &:before {
                    display: block;
                    content: '';
                    @include vp(width, 80px);
                    @include vp(height, 80px);
                    background: url("../images/icons/icon_alert_off_b.png") 0 0 no-repeat;
                    @include vp(background-size, 80px auto);
                    @include vp(margin, 0 auto 40px);
                }
            }

            .btn_alarm_link {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $green;
                text-align: center;
                @include vp(font-size, $f16);
                @include vp(width, 328px);
                @include vp(height, 100px);
                font-weight: $fw6;
                @include vp(letter-spacing, 0.2px);
                @include vp(margin, 80px auto 0);
                @include vp(border-radius, 12px);
                @include vp(border, 2px solid $green);

            }
        }

        &.list {
            background: $white;
        }
    }

    .alarm_list_box {
        .inner {
            @include vp(padding, 48px 40px);

            .lead_box {
                @include vp(padding-left, 20px);
                color: $light-gray-1;
                @include vp(font-size, $f13 );
                font-weight: $fw4;

                .count {
                    color: $black-87;
                    @include vp(font-size, $f13 );
                }
            }

            .alarm_list {
                @include vp(margin-top, 40px);

                >li {
                    @include vp(margin-top, 80px);

                    dl {
                        >dt {
                            color: $black;
                            font-weight: $fw6;
                            @include vp(font-size, $f15);
                            @include vp(margin-bottom, 40px);
                        }

                        dd {
                            .history_list {
                                @include vp(border-top, 2px solid $dark-gray);

                                >li {
                                    a {
                                        dl {
                                            position: relative;

                                            @include vp(border-bottom, 2px solid $light-gray-3);
                                            @include vp(padding, 28px 12px 28px 20px);

                                            >dt {
                                                color: $black;
                                                @include vp(font-size, $f13);
                                                margin-bottom: 0;
                                                font-weight: $fw4;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                display: flex;
                                                align-items: center;
                                                @include vp(margin-bottom, 10px);

                                                &.on {
                                                    &:before {
                                                        position: absolute;
                                                        @include vp(top, 40px);
                                                        left: 0;
                                                        content: '';
                                                        @include vp(width, 8px);
                                                        @include vp(height, 8px);
                                                        background: $green;
                                                        border-radius: 50%;
                                                    }
                                                }
                                            }

                                            dd {
                                                span {
                                                    color: $black;
                                                    @include vp(font-size, $f11);
                                                    font-weight: $fw4;
                                                }

                                            }
                                        }
                                    }

                                    &.lead {
                                        a {
                                            dl {
                                                dt {
                                                    color: $light-gray-1;

                                                    &.on {
                                                        &:before {
                                                            display: none;
                                                        }
                                                    }
                                                }

                                                dd {
                                                    span {
                                                        color: $light-gray-1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}