@charset "UTF-8";
/* 정리중 */
/*폰트 사이즈*/
#wrap.board {
  padding-top: 112px;
}
@media screen and (max-width: 750px) {
  #wrap.board {
    padding-top: 14.9333333333vw;
  }
}
#wrap.board .cm_type_list {
  position: relative;
}
#wrap.board .cm_type_list:after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 12px;
  background: linear-gradient(0deg, #FFF 9.03%, #F6F6F6 100%);
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list:after {
    bottom: -2.4vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list:after {
    height: 1.6vw;
  }
}
#wrap.board .cm_type_list li {
  width: 50%;
  height: 94px;
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list li {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list li {
    height: 12.5333333333vw;
  }
}
#wrap.board .cm_type_list .bar {
  width: 50%;
  top: 94px;
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list .bar {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_type_list .bar {
    top: 12.5333333333vw;
  }
}
#wrap.board .cm_full_wrap {
  margin-top: 0px;
}
#wrap.board .cm_full_wrap .buttons_list {
  padding: 36px 0px 30px;
}
@media screen and (max-width: 750px) {
  #wrap.board .cm_full_wrap .buttons_list {
    padding: 4.8vw 0vw 4vw;
  }
}
#wrap.board .cm_full_wrap .buttons_list::-webkit-scrollbar {
  display: none;
}
#wrap.board .board_list_wrap .board_list {
  margin: 0px 40px 60px;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list {
    margin: 0vw 5.3333333333vw 8vw;
  }
}
#wrap.board .board_list_wrap .board_list .header {
  padding: 60px 0px 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .header {
    padding: 8vw 0vw 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .header {
    font-size: 4vw;
  }
}
#wrap.board .board_list_wrap .board_list > li {
  padding: 48px 0px;
  border-bottom: 1px solid #EEE;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list > li {
    padding: 6.4vw 0vw;
  }
}
#wrap.board .board_list_wrap .board_list > li a {
  padding-right: 80px;
  display: block;
  line-height: 40px;
  font-size: 26px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list > li a {
    padding-right: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list > li a {
    line-height: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list > li a {
    font-size: 3.4666666667vw;
  }
}
#wrap.board .board_list_wrap .board_list .btn_more {
  margin-top: 40px;
  width: 670px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more {
    margin-top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more {
    width: 89.3333333333vw;
  }
}
#wrap.board .board_list_wrap .board_list .btn_more button {
  position: relative;
  padding: 20px 0px;
  width: 100%;
  font-size: 26px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.58);
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button {
    padding: 2.6666666667vw 0vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button {
    border-radius: 1.6vw;
  }
}
#wrap.board .board_list_wrap .board_list .btn_more button::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 180px;
  width: 24px;
  height: 32px;
  background: url("../images/icons/ico_arrow_down.png") center center no-repeat;
  background-size: 24px auto;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button::after {
    top: 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button::after {
    right: 24vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button::after {
    width: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button::after {
    height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_list_wrap .board_list .btn_more button::after {
    background-size: 3.2vw auto;
  }
}
#wrap.board .board_conts {
  padding: 0px 40px;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts {
    padding: 0vw 5.3333333333vw;
  }
}
#wrap.board .board_conts .text_wrap {
  padding-top: 60px;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap {
    padding-top: 8vw;
  }
}
#wrap.board .board_conts .text_wrap .title {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap .title {
    margin-bottom: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap .title {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap .title {
    line-height: 6.4vw;
  }
}
#wrap.board .board_conts .text_wrap p {
  line-height: 40px;
  font-size: 26px;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap p {
    line-height: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .text_wrap p {
    font-size: 3.4666666667vw;
  }
}
#wrap.board .board_conts .img_wrap {
  margin-top: 40px;
}
@media screen and (max-width: 750px) {
  #wrap.board .board_conts .img_wrap {
    margin-top: 5.3333333333vw;
  }
}