/**
 * Modern CSS Reset Tweaks
 * ================================================== */
 html {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/**
   * CSS Reset Tweaks
   *
   * http://meyerweb.com/eric/tools/css/reset/
   * v2.0-modified | 20110126
   * License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
   * Input Reset
   */
input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   */
[hidden] {
  display: none;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
button,
input {
  line-height: normal;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
   * 1. Address box sizing set to content-box in IE 8/9.
   */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Remove inner padding and border in Firefox 3+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
   * Based on normalize.css v8.0.1
   * github.com/necolas/normalize.css
   */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 75%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/*
   * Misc
   * ========================================================================== */
template {
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Pretendard", sans-serif;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(../fonts/Pretendard/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(../fonts/Pretendard/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(../fonts/Pretendard/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(../fonts/Pretendard/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(../fonts/Pretendard/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(../fonts/Pretendard/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(../fonts/Pretendard/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(../fonts/Pretendard/Pretendard-ExtraLight.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(../fonts/Pretendard/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Thin.woff) format("woff");
}
/* LAYOUT CSS */
/*header*/
header .header_inner {
  padding: 0 42px;
}
@media screen and (max-width: 750px) {
  header .header_inner {
    padding: 0 5.6vw;
  }
}
header .header_inner .header_top {
  display: flex;
  padding-top: 80px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_top {
    padding-top: 10.6666666667vw;
  }
}
header .header_inner .header_top .btn_hamburger {
  display: block;
  width: 54px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_top .btn_hamburger {
    width: 7.2vw;
  }
}
header .header_inner .header_top .utility_contents {
  margin-left: auto;
  display: flex;
}
header .header_inner .header_top .utility_contents .btn_search {
  display: block;
  width: 54px;
  margin-right: 17px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_top .utility_contents .btn_search {
    width: 7.2vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_top .utility_contents .btn_search {
    margin-right: 2.2666666667vw;
  }
}
header .header_inner .header_top .utility_contents .btn_alarm {
  display: block;
  width: 54px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_top .utility_contents .btn_alarm {
    width: 7.2vw;
  }
}
header .header_inner h1 {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
}
@media screen and (max-width: 750px) {
  header .header_inner h1 {
    width: 42.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner h1 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner h1 {
    padding-top: 5.3333333333vw;
  }
}
header .header_inner .header_sticky .header_switchbox {
  position: relative;
  z-index: 3;
  width: 490px;
  height: 80px;
  margin: 44px auto 0;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox {
    width: 65.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox {
    height: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox {
    margin: 5.8666666667vw auto 0;
  }
}
header .header_inner .header_sticky .header_switchbox .switch_round {
  position: relative;
  width: 100%;
  height: inherit;
  border: 1px solid #eee;
  border-radius: 100px;
  background: #eee;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round {
    border: 0.1333333333vw solid #eee;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round {
    border-radius: 13.3333333333vw;
  }
}
header .header_inner .header_sticky .header_switchbox .switch_round a {
  display: block;
  position: relative;
  float: left;
  font-size: 30px;
  line-height: 77px;
  font-weight: 600;
  color: #000;
  opacity: 0.3;
  width: 50%;
  height: 100%;
  text-align: center;
  z-index: 4;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round a {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round a {
    line-height: 10.2666666667vw;
  }
}
header .header_inner .header_sticky .header_switchbox .switch_round a.on {
  color: #fff;
  opacity: 1;
}
header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 244px;
  height: 77px;
  border-radius: 100px;
  background: #000;
  border: 1px solid #000;
  transition: left 0.35s ease-in-out;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    top: 0.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    left: 0.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    width: 32.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    height: 10.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    border-radius: 13.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round .round_bar {
    border: 0.1333333333vw solid #000;
  }
}
header .header_inner .header_sticky .header_switchbox .switch_round.left .round_bar {
  left: 1px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round.left .round_bar {
    left: 0.1333333333vw;
  }
}
header .header_inner .header_sticky .header_switchbox .switch_round.right .round_bar {
  left: 242px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky .header_switchbox .switch_round.right .round_bar {
    left: 32.2666666667vw;
  }
}
header .header_inner .header_sticky .header_switchbox::after {
  content: "";
  display: block;
  clear: both;
}
header .header_inner .header_sticky.active {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 750px;
  width: 750px;
  background: #006241;
  padding-bottom: 20px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky.active {
    max-width: 100vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky.active {
    width: 100vw;
  }
}
@media screen and (max-width: 750px) {
  header .header_inner .header_sticky.active {
    padding-bottom: 2.6666666667vw;
  }
}
header.home {
  height: 546px;
  background-color: #006241;
  border-radius: 0 0 40px 40px;
}
@media screen and (max-width: 750px) {
  header.home {
    height: 72.8vw;
  }
}
@media screen and (max-width: 750px) {
  header.home {
    border-radius: 0 0 5.3333333333vw 5.3333333333vw;
  }
}
header.common {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  justify-content: space-between;
  height: 112px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
@media screen and (max-width: 750px) {
  header.common {
    height: 14.9333333333vw;
  }
}
header.common .btn_back {
  background: url("../images/btn/btn_back.png") center center no-repeat;
  background-size: 96px auto;
  padding: 48px 50px;
}
@media screen and (max-width: 750px) {
  header.common .btn_back {
    background-size: 12.8vw auto;
  }
}
@media screen and (max-width: 750px) {
  header.common .btn_back {
    padding: 6.4vw 6.6666666667vw;
  }
}
header.common h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 750px) {
  header.common h1 {
    font-size: 4vw;
  }
}
header.common .btn_bookmark {
  background: url("../images/btn/btn_bookmarkL_off.png") center center no-repeat;
  background-size: 54px auto;
  padding: 54px 50px;
}
@media screen and (max-width: 750px) {
  header.common .btn_bookmark {
    background-size: 7.2vw auto;
  }
}
@media screen and (max-width: 750px) {
  header.common .btn_bookmark {
    padding: 7.2vw 6.6666666667vw;
  }
}
header.common .btn_bookmark.on {
  background: url("../images/btn/btn_bookmarkL_on.png") center center no-repeat;
  background-size: 54px auto;
  padding: 54px 50px;
}
@media screen and (max-width: 750px) {
  header.common .btn_bookmark.on {
    background-size: 7.2vw auto;
  }
}
@media screen and (max-width: 750px) {
  header.common .btn_bookmark.on {
    padding: 7.2vw 6.6666666667vw;
  }
}

/*gnb*/
.gnb {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 750px;
  width: 750px;
  height: 100%;
  background: #f6f6f6;
  z-index: 1000;
}
@media screen and (max-width: 750px) {
  .gnb {
    max-width: 100vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb {
    width: 100vw;
  }
}
.gnb .contents {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.gnb .contents .gnb_top {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 100px 8px 0 0;
  margin-bottom: 38px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top {
    padding: 13.3333333333vw 1.0666666667vw 0 0;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top {
    margin-bottom: 5.0666666667vw;
  }
}
.gnb .contents .gnb_top button {
  width: 96px;
  height: 96px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top button {
    width: 12.8vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top button {
    height: 12.8vw;
  }
}
.gnb .contents .gnb_top button.btn_alarm {
  background: url("../images/icons/icon_alert_b.png") 0 0 no-repeat;
  background-size: 96px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top button.btn_alarm {
    background-size: 12.8vw auto;
  }
}
.gnb .contents .gnb_top button.btn_close {
  background: url("../images/btn/btn_clsoe_b.png") 0 0 no-repeat;
  background-size: 96px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .gnb_top button.btn_close {
    background-size: 12.8vw auto;
  }
}
.gnb .contents .input_link {
  width: 670px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .input_link {
    width: 89.3333333333vw;
  }
}
.gnb .contents nav {
  padding: 0 40px;
  margin-top: 84px;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav {
    padding: 0 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav {
    margin-top: 11.2vw;
  }
}
.gnb .contents nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul {
    -moz-column-gap: 2.9333333333vw;
         column-gap: 2.9333333333vw;
  }
}
.gnb .contents nav ul .icon {
  flex: 1 1 calc(50% - 22px);
  box-sizing: border-box;
  padding-bottom: 54px;
  border-bottom: 1px solid #000;
  margin-bottom: 92px;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon {
    flex: 1 1 calc(50% - 2.9333333333vw);
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon {
    padding-bottom: 7.2vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon {
    border-bottom: 0.1333333333vw solid #000;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon {
    margin-bottom: 12.2666666667vw;
  }
}
.gnb .contents nav ul .icon a {
  position: relative;
  display: inline-block;
  font-size: 32px;
  padding-left: 64px;
  line-height: 32px;
  color: #000;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a {
    font-size: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a {
    padding-left: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a {
    line-height: 4.2666666667vw;
  }
}
.gnb .contents nav ul .icon a::before {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a::before {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a::before {
    height: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon a::before {
    top: -0.6666666667vw;
  }
}
.gnb .contents nav ul .icon.speaker a::before {
  background: url("../images/icons/icon_speaker_notes.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.speaker a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents nav ul .icon.edit a::before {
  background: url("../images/icons/icon_contract_edit.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.edit a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents nav ul .icon.chart a::before {
  background: url("../images/icons/icon_chart_bars.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.chart a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents nav ul .icon.bookmark a::before {
  background: url("../images/icons/icon_bookmark_added.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.bookmark a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents nav ul .icon.collections a::before {
  background: url("../images/icons/icon_collections_bookmark.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.collections a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents nav ul .icon.menubook a::before {
  background: url("../images/icons/icon_menu_book.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents nav ul .icon.menubook a::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents .app_setting_content {
  margin-top: -8px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content {
    margin-top: -1.0666666667vw;
  }
}
.gnb .contents .app_setting_content .inner {
  padding: 0px 40px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner {
    padding: 0vw 5.3333333333vw;
  }
}
.gnb .contents .app_setting_content .inner h3 {
  margin-bottom: 40px;
  font-size: 32px;
  color: #000;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner h3 {
    margin-bottom: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner h3 {
    font-size: 4.2666666667vw;
  }
}
.gnb .contents .app_setting_content .inner .btn_list {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list {
    -moz-column-gap: 2.9333333333vw;
         column-gap: 2.9333333333vw;
  }
}
.gnb .contents .app_setting_content .inner .btn_list li button {
  position: relative;
  width: 324px;
  height: 120px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button {
    height: 16vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button {
    border-radius: 5.3333333333vw;
  }
}
.gnb .contents .app_setting_content .inner .btn_list li button span {
  position: relative;
  font-size: 26px;
  font-weight: 400;
  padding-left: 68px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button span {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button span {
    padding-left: 9.0666666667vw;
  }
}
.gnb .contents .app_setting_content .inner .btn_list li button span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button span::before {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button span::before {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li button span::before {
    height: 6.4vw;
  }
}
.gnb .contents .app_setting_content .inner .btn_list li.btn_alarm button span::before {
  background: url("../images/icons/icon_alert_b_24x24.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li.btn_alarm button span::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents .app_setting_content .inner .btn_list li.btn_collections button span::before {
  background: url("../images/icons/icon_edit_calendar_24x24.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .app_setting_content .inner .btn_list li.btn_collections button span::before {
    background-size: 6.4vw auto;
  }
}
.gnb .contents .logout_box {
  margin-top: 80px;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box {
    margin-top: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box {
    background-size: 6.4vw auto;
  }
}
.gnb .contents .logout_box .inner {
  border-top: 1px solid #ddd;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner {
    border-top: 0.1333333333vw solid #ddd;
  }
}
.gnb .contents .logout_box .inner .btn_logout {
  margin: 60px 120px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout {
    margin: 8vw 16vw;
  }
}
.gnb .contents .logout_box .inner .btn_logout span {
  position: relative;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  padding-left: 68px;
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span {
    line-height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span {
    padding-left: 9.0666666667vw;
  }
}
.gnb .contents .logout_box .inner .btn_logout span:before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: -10px;
  left: 0;
  background: url("../images/icons/icon_logout.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span:before {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span:before {
    height: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span:before {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .gnb .contents .logout_box .inner .btn_logout span:before {
    background-size: 6.4vw auto;
  }
}

#wrap {
  font-size: 0;
  max-width: 750px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  #wrap {
    max-width: 100vw;
  }
}

.bottom_sheet {
  display: none;
  position: relative;
}
.bottom_sheet .sheet_wrap {
  max-width: 750px;
  transform: translateX(-50%);
  min-height: 200px;
  position: fixed;
  z-index: 300;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  bottom: -110%;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap {
    max-width: 100vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content {
  position: relative;
  border-radius: 40px 40px 0 0;
  background: #F8F8F8;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content {
    border-radius: 5.3333333333vw 5.3333333333vw 0 0;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .sheet_top {
  position: relative;
}
.bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close {
  display: block;
  width: 100%;
  height: 40px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close {
    height: 5.3333333333vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  width: 68px;
  height: 8px;
  background: rgba(0, 0, 0, 0.38);
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close::after {
    top: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close::after {
    border-radius: 13.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close::after {
    width: 9.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .sheet_top .btn_sheet_close::after {
    height: 1.0666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents {
  padding: 40px 40px 56px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents {
    padding: 5.3333333333vw 5.3333333333vw 7.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li {
  width: 160px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li {
    width: 21.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li {
    border-radius: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li {
    border: 0.2666666667vw solid rgba(0, 0, 0, 0.12);
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li button {
  width: inherit;
  padding: 30px 22px;
  font-size: 26px;
  line-height: normal;
  background: none;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li button {
    padding: 4vw 2.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li button {
    font-size: 3.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li.on {
  background: #00A862;
  border: 2px solid #00A862;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li.on {
    border: 0.2666666667vw solid #00A862;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_list li.on button {
  color: #fff;
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting {
  display: flex;
  margin-top: 22px;
  gap: 14px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting {
    margin-top: 2.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting {
    gap: 1.8666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start,
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end {
  position: relative;
  width: 330px;
  height: 76px;
  padding: 22px 40px;
  border-radius: 4px;
  background: #EEE;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end {
    width: 44vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end {
    height: 10.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end {
    padding: 2.9333333333vw 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end {
    border-radius: 0.5333333333vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start span,
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end span {
  font-family: "Pretendard Variable";
  font-size: 26px;
  font-weight: 400;
  color: #000;
  opacity: 0.6;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start span,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end span {
    font-size: 3.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
.bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 37px;
  border: 0;
  background: url("../images/icons/icon_calendar.png") 0 0 no-repeat;
  background-size: 32px auto;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
    top: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
    right: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
    width: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
    height: 4.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_start input,
  .bottom_sheet .sheet_wrap .sheet_content .date_contents .date_setting .date_end input {
    background-size: 4.2666666667vw auto;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents {
  position: relative;
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li {
  width: 188px;
  height: 88px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li {
    width: 25.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li {
    height: 11.7333333333vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li button {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #000;
  opacity: 0.4;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li button {
    font-size: 4vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents .type_list li.on button {
  opacity: 1;
}
.bottom_sheet .sheet_wrap .sheet_content .type_contents .bar {
  position: absolute;
  left: 0;
  top: 82px;
  width: 188px;
  height: 6px;
  background: #00A862;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .bar {
    top: 10.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .bar {
    width: 25.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .type_contents .bar {
    height: 0.8vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents {
  padding: 40px 40px 56px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents {
    padding: 5.3333333333vw 5.3333333333vw 7.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .name {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .name {
    font-size: 4vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact {
    padding-top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact {
    padding-bottom: 8vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 {
  padding: 24px 20px;
  width: 216px;
  border-radius: 16px;
  border: 1px solid #00A862;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 {
    padding: 3.2vw 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 {
    width: 28.8vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 {
    border-radius: 2.1333333333vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span {
  padding-left: 60px;
  font-size: 30px;
  color: #00A862;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span {
    padding-left: 8vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span {
    font-size: 4vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.mail {
  background: url("../images/icons/ico_mail.png") center left no-repeat;
  background-size: 40px auto;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.mail {
    background-size: 5.3333333333vw auto;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.phone {
  background: url("../images/icons/ico_call.png") center left no-repeat;
  background-size: 40px auto;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.phone {
    background-size: 5.3333333333vw auto;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.text {
  background: url("../images/icons/ico_text.png") center left no-repeat;
  background-size: 40px auto;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .btn_contact .btn01 span.text {
    background-size: 5.3333333333vw auto;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl {
  display: flex;
  margin-bottom: 8px;
  font-size: 26px;
  line-height: 54px;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl {
    margin-bottom: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl {
    line-height: 7.2vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl dt {
  min-width: 146px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3411764706);
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .staff_info_contents .staff_info dl dt {
    min-width: 19.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .btn_comment_box {
  padding: 40px 40px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .btn_comment_box {
    padding: 5.3333333333vw 5.3333333333vw 7.4666666667vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment {
  width: 750px;
  height: 568px;
  border-radius: 12px;
  border: 1px solid #00A862;
  background: #fff;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment {
    width: 100vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment {
    height: 75.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment {
    border-radius: 1.6vw;
  }
}
.bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment span {
  font-size: 28px;
  color: #00A862;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .sheet_wrap .sheet_content .btn_comment_box .btn_comment span {
    font-size: 3.7333333333vw;
  }
}
.bottom_sheet .sheet_wrap.open {
  bottom: 0;
}
.bottom_sheet .dimd {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 750px;
  transform: translateX(-50%);
  background: #000;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 750px) {
  .bottom_sheet .dimd {
    max-width: 100vw;
  }
}
.bottom_sheet.open {
  display: block;
}
.bottom_sheet.open .dimd {
  opacity: 0.4;
  pointer-events: all;
  z-index: 100;
}

.scroll_top_box {
  display: none;
  position: fixed;
  width: 112px;
  height: 112px;
  bottom: 82px;
  right: 50%;
  transform: translateX(348px);
}
@media screen and (max-width: 750px) {
  .scroll_top_box {
    width: 14.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .scroll_top_box {
    height: 14.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .scroll_top_box {
    bottom: 10.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .scroll_top_box {
    transform: translateX(46.4vw);
  }
}
.scroll_top_box a {
  display: block;
  width: inherit;
  height: inherit;
  background: url("../images/btn/btn_scrollTop.png") 0 0 no-repeat;
  background-size: 112px auto;
}
@media screen and (max-width: 750px) {
  .scroll_top_box a {
    background-size: 14.9333333333vw auto;
  }
}

.layer_m_popup {
  display: none;
  position: fixed;
  top: 0px;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  z-index: 999;
}
.layer_m_popup.open {
  display: block;
}
.layer_m_popup .pop_cont01 {
  padding: 80px 40px;
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  transform: translate(0, -50%);
  border-radius: 40px;
  background: #fff;
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 {
    padding: 10.6666666667vw 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 {
    left: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 {
    right: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 {
    border-radius: 5.3333333333vw;
  }
}
.layer_m_popup .pop_cont01.toast {
  padding: 40px 0px;
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01.toast {
    padding: 5.3333333333vw 0vw;
  }
}
.layer_m_popup .pop_cont01 .text {
  font-size: 26px;
  line-height: 40px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .text {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .text {
    line-height: 5.3333333333vw;
  }
}
.layer_m_popup .pop_cont01 .btn_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom {
    gap: 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom {
    margin-top: 8vw;
  }
}
.layer_m_popup .pop_cont01 .btn_bottom button {
  width: 290px;
  height: 80px;
  border-radius: 12px;
  line-height: 40px;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom button {
    width: 38.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom button {
    height: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom button {
    border-radius: 1.6vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom button {
    line-height: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .layer_m_popup .pop_cont01 .btn_bottom button {
    font-size: 3.7333333333vw;
  }
}
.layer_m_popup .pop_cont01 .btn_bottom button.btn-border {
  border: 1px solid #00A862;
  color: #00A862;
}
.layer_m_popup .pop_cont01 .btn_bottom button.btn-fill {
  color: #fff;
  background: #00A862;
}

.layer_popup {
  display: none;
  position: fixed;
  top: 0px;
  min-height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.layer_popup.open {
  display: block;
}
.layer_popup .btn_close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: url("../images/btn/btn_close.png") center center no-repeat;
  background-size: 56px auto;
  padding: 40px;
  z-index: 999;
}
@media screen and (max-width: 750px) {
  .layer_popup .btn_close {
    background-size: 7.4666666667vw auto;
  }
}
@media screen and (max-width: 750px) {
  .layer_popup .btn_close {
    padding: 5.3333333333vw;
  }
}