#wrap {
  background: #f6f6f6;
}

.sections .section_inner {
  position: relative;
  padding: 0px 40px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
@media screen and (max-width: 750px) {
  .sections .section_inner {
    padding: 0vw 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner {
    -webkit-transform: translateY(-5.3333333333vw);
            transform: translateY(-5.3333333333vw);
  }
}
.sections .section_inner:after {
  content: "";
  display: block;
  clear: both;
}
.sections .section_inner .menu_btn-list {
  float: left;
  position: relative;
  max-width: 324px;
  width: 324px;
  min-height: 1016px;
  margin: 0 auto;
  z-index: 20;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    max-width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    min-height: 135.4666666667vw;
  }
}
.sections .section_inner .menu_btn-list:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list:first-child {
    margin-right: 2.6666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 324px;
  height: 324px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  background: #fff;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    height: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li:nth-child(2) {
  top: 348px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li:nth-child(2) {
    top: 46.4vw;
  }
}
.sections .section_inner .menu_btn-list > li:nth-child(3) {
  top: 694px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li:nth-child(3) {
    top: 92.5333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: inherit;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box {
    font-size: 4.2666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .thum {
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.sections .section_inner .menu_btn-list > li .menu_box .thum::before {
  content: "";
  display: block;
  margin-bottom: 32px;
  width: 112px;
  height: 110px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::before {
    margin-bottom: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::before {
    width: 14.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::before {
    height: 14.6666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .thum::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  background: url("../images/btn/btn_plus.png") 0 0 no-repeat;
  background-size: 32px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::after {
    top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::after {
    right: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::after {
    width: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::after {
    height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .thum::after {
    background-size: 4.2666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu {
  display: none;
  position: relative;
}
.sections .section_inner .menu_btn-list > li .menu_box .menu:before {
  content: "";
  position: absolute;
  top: 34px;
  right: 34px;
  width: 32px;
  height: 32px;
  background: url("../images/btn/btn_minus.png") 0 0 no-repeat;
  background-size: 32px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu:before {
    top: 4.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu:before {
    right: 4.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu:before {
    width: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu:before {
    height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu:before {
    background-size: 4.2666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner {
  padding: 60px 60px 92px;
  min-width: 670px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner {
    padding: 8vw 8vw 12.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner {
    min-width: 89.3333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  margin-bottom: 40px;
  border-bottom: 2px solid #000;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box {
    padding-bottom: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box {
    margin-bottom: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box {
    border-bottom: 0.2666666667vw solid #000;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3 {
  position: relative;
  padding-left: 88px;
  color: #000;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3 {
    padding-left: 11.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3 {
    font-size: 4.2666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../images/icons/icon_Partner.png) 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3:before {
    top: -0.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3:before {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3:before {
    height: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box .read_text {
  margin-left: 20px;
  color: rgba(136, 136, 136, 0.58);
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box .read_text {
    margin-left: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .title_box .read_text {
    font-size: 3.2vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box {
  max-height: 172px;
  overflow: auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box {
    max-height: 22.9333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -28px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list {
    margin-top: -3.7333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  margin-top: 28px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list li {
    margin-top: 3.7333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list li a {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  word-break: keep-all;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li .menu_box .menu .inner .scroll_box .type_list li a {
    font-size: 3.4666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li .menu_box.on {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sections .section_inner .menu_btn-list > li .menu_box.on .thum {
  display: none;
}
.sections .section_inner .menu_btn-list > li .menu_box.on .menu {
  display: block;
}
.sections .section_inner .menu_btn-list > li.parther .thum:before {
  width: 114px;
  background: url("../images/icons/icon_Partner.png") 0 0 no-repeat;
  background-size: 114px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.parther .thum:before {
    width: 15.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.parther .thum:before {
    background-size: 15.2vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.customer .thum:before {
  background: url("../images/icons/icon__Customer.png") 0 0 no-repeat;
  background-size: 112px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.customer .thum:before {
    background-size: 14.9333333333vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.customer .menu_box .menu .inner .title_box h3:before {
  background: url("../images/icons/icon__Customer.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.customer .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.disaster .thum:before {
  width: 115px;
  background: url("../images/icons/icon_disaster.png") 0 0 no-repeat;
  background-size: 115px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.disaster .thum:before {
    width: 15.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.disaster .thum:before {
    background-size: 15.3333333333vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.disaster .menu_box .menu .inner .title_box h3:before {
  background: url("../images/icons/icon_disaster.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.disaster .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.fire .thum:before {
  background: url("../images/icons/icon_fire.png") 0 0 no-repeat;
  background-size: 112px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.fire .thum:before {
    background-size: 14.9333333333vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.fire .menu_box .menu .inner .title_box h3:before {
  background: url("../images/icons/icon_fire.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.fire .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.different .thum:before {
  background: url("../images/icons//icon_different_thing.png") 0 0 no-repeat;
  background-size: 112px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.different .thum:before {
    background-size: 14.9333333333vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.different .menu_box .menu .inner .title_box h3:before {
  background: url("../images/icons/icon_different_thing.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.different .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.safety .thum:before {
  width: 114px;
  background: url("../images/icons/icon_food_safety.png") 0 0 no-repeat;
  background-size: 114px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.safety .thum:before {
    width: 15.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.safety .thum:before {
    background-size: 15.2vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.safety .menu_box .menu .inner .title_box h3:before {
  background: url("../images/icons/icon_food_safety.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.safety .menu_box .menu .inner .title_box h3:before {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner.parther .menu_btn-list.left {
  z-index: 30;
}
.sections .section_inner.parther .menu_btn-list.left .parther {
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.left .parther {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.left .parther {
    height: 52.5333333333vw;
  }
}
.sections .section_inner.parther .menu_btn-list.left .disaster {
  top: 408px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.left .disaster {
    top: 54.4vw;
  }
}
.sections .section_inner.parther .menu_btn-list.left .different {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.left .different {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.parther .menu_btn-list.right .customer {
  top: 408px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.right .customer {
    top: 54.4vw;
  }
}
.sections .section_inner.parther .menu_btn-list.right .fire {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.right .fire {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.parther .menu_btn-list.right .safety {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.parther .menu_btn-list.right .safety {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.disaster .menu_btn-list.left {
  z-index: 30;
}
.sections .section_inner.disaster .menu_btn-list.left .disaster {
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.disaster .menu_btn-list.left .disaster {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.disaster .menu_btn-list.left .disaster {
    height: 52.5333333333vw;
  }
}
.sections .section_inner.disaster .menu_btn-list.left .different {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.disaster .menu_btn-list.left .different {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.disaster .menu_btn-list.right .fire {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.disaster .menu_btn-list.right .fire {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.disaster .menu_btn-list.right .safety {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.disaster .menu_btn-list.right .safety {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.different .menu_btn-list.left {
  z-index: 30;
}
.sections .section_inner.different .menu_btn-list.left .different {
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.different .menu_btn-list.left .different {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.different .menu_btn-list.left .different {
    height: 52.5333333333vw;
  }
}
.sections .section_inner.different .menu_btn-list.right .safety {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.different .menu_btn-list.right .safety {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.customer .menu_btn-list.left .parther {
  top: 408px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.left .parther {
    top: 54.4vw;
  }
}
.sections .section_inner.customer .menu_btn-list.left .disaster {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.left .disaster {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.customer .menu_btn-list.left .different {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.left .different {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.customer .menu_btn-list.right .customer {
  width: 670px;
  height: 394px;
  left: -345px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.right .customer {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.right .customer {
    height: 52.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.right .customer {
    left: -46vw;
  }
}
.sections .section_inner.customer .menu_btn-list.right .fire {
  top: 408px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.right .fire {
    top: 54.4vw;
  }
}
.sections .section_inner.customer .menu_btn-list.right .safety {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.customer .menu_btn-list.right .safety {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.fire .menu_btn-list.left .disaster {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.left .disaster {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.fire .menu_btn-list.left .different {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.left .different {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.fire .menu_btn-list.right .fire {
  width: 670px;
  height: 394px;
  left: -345px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.right .fire {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.right .fire {
    height: 52.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.right .fire {
    left: -46vw;
  }
}
.sections .section_inner.fire .menu_btn-list.right .safety {
  top: 751px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.fire .menu_btn-list.right .safety {
    top: 100.1333333333vw;
  }
}
.sections .section_inner.safety .menu_btn-list.left .different {
  top: 1096px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.safety .menu_btn-list.left .different {
    top: 146.1333333333vw;
  }
}
.sections .section_inner.safety .menu_btn-list.right .safety {
  width: 670px;
  height: 394px;
  left: -345px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.safety .menu_btn-list.right .safety {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.safety .menu_btn-list.right .safety {
    height: 52.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner.safety .menu_btn-list.right .safety {
    left: -46vw;
  }
}
.sections .section_inner.open {
  min-height: 1400px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner.open {
    min-height: 186.6666666667vw;
  }
}
.sections .section_inner .menu_view_list {
  display: none;
  position: absolute;
  top: 0;
  left: 40px;
  width: 670px;
  z-index: 10;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list {
    left: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list {
    width: 89.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li {
  display: none;
  position: relative;
  margin-top: -30px;
  width: 324px;
  height: 324px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 40px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    margin-top: -4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    height: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.1);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li .btn_close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 46px;
  height: 46px;
  background: url("../images/btn/btn_close.png") 0 0 no-repeat;
  background-size: 46px auto;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    top: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    right: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    width: 6.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    height: 6.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    background-size: 6.1333333333vw auto;
  }
}
.sections .section_inner .menu_view_list > li .inner {
  opacity: 0;
  padding: 68px 60px 0 60px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner {
    padding: 9.0666666667vw 8vw 0 8vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 32px;
  margin-bottom: 50px;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    padding-bottom: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    margin-bottom: 6.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    border-bottom: 0.1333333333vw solid #333;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box h3 {
  position: relative;
  padding-left: 68px;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3 {
    padding-left: 9.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3 {
    font-size: 4.2666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box h3::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  background: url("../images/icons/icon_Partner.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    height: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box span {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #888;
  opacity: 0.6;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box span {
    padding-left: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box span {
    font-size: 3.2vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box {
  max-height: 207px;
  overflow-y: auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box {
    max-height: 27.6vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
  max-height: 5px;
  width: 8px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
    max-height: 0.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
    width: 1.0666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-thumb {
  background: rgb(103, 103, 103);
  border-radius: 10px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-thumb {
    border-radius: 1.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-track {
  background: transparent;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  margin-bottom: 38px;
  font-size: 26px;
  word-break: keep-all;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
    margin-bottom: 5.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
    font-size: 3.4666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li a {
  display: block;
  text-align: left;
  color: #000;
  font-weight: 400;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li:nth-child(3n) {
  margin-right: 0;
}
.sections .section_inner .menu_view_list > li:nth-child(3), .sections .section_inner .menu_view_list > li:nth-child(4) {
  -webkit-transform: translateY(346px);
          transform: translateY(346px);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li:nth-child(3), .sections .section_inner .menu_view_list > li:nth-child(4) {
    -webkit-transform: translateY(46.1333333333vw);
            transform: translateY(46.1333333333vw);
  }
}
.sections .section_inner .menu_view_list > li:nth-child(5), .sections .section_inner .menu_view_list > li:nth-child(6) {
  margin-top: 692px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li:nth-child(5), .sections .section_inner .menu_view_list > li:nth-child(6) {
    margin-top: 92.2666666667vw;
  }
}
.sections .section_inner .menu_view_list > li.on {
  display: block;
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li.on {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li.on {
    height: 52.5333333333vw;
  }
}
.sections .section_inner .setting_contents {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 40px 40px 28px 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents {
    border-radius: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents {
    padding: 5.3333333333vw 5.3333333333vw 3.7333333333vw 5.3333333333vw;
  }
}
.sections .section_inner .setting_contents .setting_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sections .section_inner .setting_contents .setting_top .setting_check_box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  opacity: 0.87;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label {
    font-size: 3.4666666667vw;
  }
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
  padding-left: 64px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/btn/btn_check_off.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    padding-left: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    width: 5.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    height: 5.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    background-size: 5.8666666667vw auto;
  }
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox]:checked {
  background: url("../images/btn/btn_check_on.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox]:checked {
    background-size: 5.8666666667vw auto;
  }
}
.sections .section_inner .setting_contents .setting_top .btn_cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: 26px;
  margin-left: 64px;
  padding-left: 48px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart {
    margin-left: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart {
    padding-left: 6.4vw;
  }
}
.sections .section_inner .setting_contents .setting_top .btn_cart::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../images/btn/btn_pie_chart.png") 0 0 no-repeat;
  background-size: 40px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart::after {
    top: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart::after {
    width: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart::after {
    height: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_cart::after {
    background-size: 5.3333333333vw auto;
  }
}
.sections .section_inner .setting_contents .setting_top .btn_filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: 26px;
  margin-left: auto;
  padding-left: 48px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter {
    margin-left: auto;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter {
    padding-left: 6.4vw;
  }
}
.sections .section_inner .setting_contents .setting_top .btn_filter::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../images/btn/btn_filter.png") 0 0 no-repeat;
  background-size: 40px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter::after {
    top: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter::after {
    width: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter::after {
    height: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .btn_filter::after {
    background-size: 5.3333333333vw auto;
  }
}
.sections .section_inner .setting_contents .btn_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 28px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group {
    margin-top: 3.7333333333vw;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_refresh {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 68px;
  height: 64px;
  margin-right: 8px;
  background: url("../images/btn/btn_refresh.png") 0 0 no-repeat;
  background-size: 68px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_refresh {
    width: 9.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_refresh {
    height: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_refresh {
    margin-right: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_refresh {
    background-size: 9.0666666667vw auto;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list {
  width: 514px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    width: 68.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    gap: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    height: 8.5333333333vw;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.sections .section_inner .setting_contents .btn_group .btn_list li .tag {
  position: relative;
  font-size: 24px;
  padding: 20px 60px 20px 20px;
  height: 64px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #00A862;
  background-color: #00A862;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    padding: 2.6666666667vw 8vw 2.6666666667vw 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    height: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    letter-spacing: 0.0133333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    border-radius: 0.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .tag {
    border: 0.1333333333vw solid #00A862;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
  display: block;
  position: absolute;
  top: 19px;
  right: 20px;
  width: 28px;
  height: 28px;
  background: url("../images/btn/btn_close_w.png") 0 0 no-repeat;
  background-size: 28px auto;
  z-index: 10;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
    top: 2.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
    right: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
    width: 3.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
    height: 3.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li .btn_close {
    background-size: 3.7333333333vw auto;
  }
}
.sections .section_inner .accident_content {
  margin-top: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content {
    margin-top: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li {
  position: relative;
  margin-top: 20px;
  height: 228px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 40px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    margin-top: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    height: 30.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a {
  position: relative;
  display: block;
  padding: 32px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a {
    padding: 4.2666666667vw 5.3333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt {
    line-height: 3.7333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .badge {
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid #00A862;
  font-size: 24px;
  margin-left: 8px;
  background: #EBFFF7;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge {
    padding: 1.0666666667vw 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge {
    border-radius: 1.6vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge {
    border: 0.2666666667vw solid #00A862;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge {
    margin-left: 1.0666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .badge.complete {
  color: #00A862;
}
.sections .section_inner .accident_content .accident_list > li a dl dt .badge.emergency {
  background: #FFF6F6;
  border: 2px solid #FF7F7F;
  color: #F00;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge.emergency {
    border: 0.2666666667vw solid #FF7F7F;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .badge.common {
  border: 2px solid #ddd;
  background: #eee;
  color: #333;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .badge.common {
    border: 0.2666666667vw solid #ddd;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .badge:first-child {
  margin-left: 0;
}
.sections .section_inner .accident_content .accident_list > li a dl dt p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-left: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt p {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt p {
    margin-left: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd {
    padding-top: 4.2666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span {
  font-size: 30px;
  line-height: 32px;
  color: #000;
  opacity: 0.8;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span {
    line-height: 4.2666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  width: 308px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: normal;
  text-overflow: ellipsis;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
    padding-left: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
    width: 41.0666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
  content: "";
  width: 3px;
  position: absolute;
  top: 3px;
  left: 16px;
  height: 28px;
  background: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    width: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    top: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    left: 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    height: 3.7333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span {
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span {
    padding-left: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:last-child {
  width: auto;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:last-child::after {
  content: none;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
  display: inline-block;
  margin-right: 6px;
  content: "";
  width: 30px;
  height: 28px;
  background: url("../images/icons/icon_rate_review.png") 0 0 no-repeat;
  background-size: 30px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    margin-right: 0.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    width: 4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    height: 3.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    background-size: 4vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.read {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.read {
    padding-left: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.read .time {
  padding-right: 6px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.read .time {
    padding-right: 0.8vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:first-child {
  padding-left: 0;
}
.sections .section_inner .accident_content .accident_list > li a .photo_box {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 40px;
  right: 40px;
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    width: 19.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    height: 19.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    right: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    border-radius: 0.8vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 104px;
  right: 8px;
  height: 36px;
  padding: 10px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    top: 13.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    right: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    height: 4.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    padding: 1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    border-radius: 0.9333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
  position: relative;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 400;
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
    text-shadow: 0vw 0.5333333333vw 0.5333333333vw rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
    font-size: 3.2vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img {
  width: 148px;
  height: 148px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img {
    width: 19.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img {
    height: 19.7333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.parther {
  background: url("../images/icons/icon_no_img_parther.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.parther {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.customer {
  background: url("../images/icons/icon_no_img_customer.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.customer {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.disaster {
  background: url("../images/icons/icon_no_img_disaster.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.disaster {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.fire {
  background: url("../images/icons/icon_no_img_fire.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.fire {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.different {
  background: url("../images/icons/icon_no_img_different.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.different {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.safety {
  background: url("../images/icons/icon_no_img_safety.png") 0 0 no-repeat;
  background-size: 148px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .no_img.safety {
    background-size: 19.7333333333vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li .btn_bookmark {
  position: absolute;
  top: -10px;
  right: 39px;
  width: 50px;
  height: 76px;
  background: url("../images/btn/btn_bookmark_off.png") 0 0 no-repeat;
  background-size: 50px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    right: 5.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    width: 6.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    height: 10.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    background-size: 6.6666666667vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li .btn_bookmark.on {
  background: url("../images/btn/btn_bookmark_on.png") 0 0 no-repeat;
  background-size: 50px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark.on {
    background-size: 6.6666666667vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li.on a dl dt p {
  color: #ddd;
}
.sections .section_inner .accident_content .accident_list > li.on a dl dd span {
  color: #ddd;
}
.sections .section_inner .accident_content .accident_list > li.on a dl dd.last span.write:before {
  background: url("../images/icons/icon_rate_review_on.png") 0 0 no-repeat;
  background-size: 30px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li.on a dl dd.last span.write:before {
    background-size: 4vw auto;
  }
}
.sections section {
  display: none;
}
.sections section.on {
  display: block;
}