#wrap {
  background: #f6f6f6;
}

.sections .section_inner {
  position: relative;
  padding: 0px 40px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
@media screen and (max-width: 750px) {
  .sections .section_inner {
    padding: 0vw 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner {
    -webkit-transform: translateY(-5.3333333333vw);
            transform: translateY(-5.3333333333vw);
  }
}
.sections .section_inner .menu_btn-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 22px;
  max-width: 670px;
  padding-bottom: 104px;
  margin: 0 auto;
  z-index: 20;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    gap: 2.9333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    max-width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list {
    padding-bottom: 13.8666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 324px;
  height: 324px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  background: #fff;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    height: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: inherit;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a {
    font-size: 4.2666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li a::before {
  content: "";
  display: block;
  margin-bottom: 34px;
  width: 110px;
  height: 110px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::before {
    margin-bottom: 4.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::before {
    width: 14.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::before {
    height: 14.6666666667vw;
  }
}
.sections .section_inner .menu_btn-list > li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  background: url("../images/btn/btn_plus.png") 0 0 no-repeat;
  background-size: 32px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::after {
    top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::after {
    right: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::after {
    width: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::after {
    height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li a::after {
    background-size: 4.2666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.parther a:before {
  background: url("../images/icons/icon_Partner.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.parther a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.customer a:before {
  background: url("../images/icons/icon__Customer.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.customer a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.disaster a:before {
  background: url("../images/icons/icon_disaster.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.disaster a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.fire a:before {
  background: url("../images/icons/icon_fire.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.fire a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.different a:before {
  background: url("../images/icons//icon_different_thing.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.different a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.safety a:before {
  background: url("../images/icons/icon_food_ safety.png") 0 0 no-repeat;
  background-size: 110px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.safety a:before {
    background-size: 14.6666666667vw auto;
  }
}
.sections .section_inner .menu_btn-list > li.on {
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.on {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_btn-list > li.on {
    height: 52.5333333333vw;
  }
}
.sections .section_inner .menu_btn-list > li:nth-child(odd) {
  -webkit-transform-origin: left;
          transform-origin: left;
}
.sections .section_inner .menu_btn-list > li:nth-child(even) {
  -webkit-transform-origin: right;
          transform-origin: right;
}
.sections .section_inner .menu_view_list {
  display: none;
  position: absolute;
  top: 0;
  left: 40px;
  width: 670px;
  z-index: 10;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list {
    left: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list {
    width: 89.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li {
  display: none;
  position: relative;
  margin-top: -30px;
  width: 324px;
  height: 324px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 40px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    margin-top: -4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    width: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    height: 43.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.1);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li .btn_close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 46px;
  height: 46px;
  background: url("../images/btn/btn_close.png") 0 0 no-repeat;
  background-size: 46px auto;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    top: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    right: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    width: 6.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    height: 6.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .btn_close {
    background-size: 6.1333333333vw auto;
  }
}
.sections .section_inner .menu_view_list > li .inner {
  opacity: 0;
  padding: 68px 60px 0 60px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner {
    padding: 9.0666666667vw 8vw 0 8vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 32px;
  margin-bottom: 50px;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    padding-bottom: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    margin-bottom: 6.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box {
    border-bottom: 0.1333333333vw solid #333;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box h3 {
  position: relative;
  padding-left: 68px;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3 {
    padding-left: 9.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3 {
    font-size: 4.2666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box h3::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  background: url("../images/icons/icon_Partner.png") 0 0 no-repeat;
  background-size: 48px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    width: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    height: 6.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box h3::after {
    background-size: 6.4vw auto;
  }
}
.sections .section_inner .menu_view_list > li .inner .title_box span {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #888;
  opacity: 0.6;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box span {
    padding-left: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .title_box span {
    font-size: 3.2vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box {
  max-height: 207px;
  overflow-y: auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box {
    max-height: 27.6vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
  max-height: 5px;
  width: 8px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
    max-height: 0.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar {
    width: 1.0666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-thumb {
  background: rgb(103, 103, 103);
  border-radius: 10px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-thumb {
    border-radius: 1.3333333333vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box::-webkit-scrollbar-track {
  background: transparent;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  margin-bottom: 38px;
  font-size: 26px;
  word-break: keep-all;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
    margin-bottom: 5.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li {
    font-size: 3.4666666667vw;
  }
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li a {
  display: block;
  text-align: left;
  color: #000;
  font-weight: 400;
}
.sections .section_inner .menu_view_list > li .inner .scroll_box .type_list li:nth-child(3n) {
  margin-right: 0;
}
.sections .section_inner .menu_view_list > li:nth-child(3), .sections .section_inner .menu_view_list > li:nth-child(4) {
  -webkit-transform: translateY(346px);
          transform: translateY(346px);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li:nth-child(3), .sections .section_inner .menu_view_list > li:nth-child(4) {
    -webkit-transform: translateY(46.1333333333vw);
            transform: translateY(46.1333333333vw);
  }
}
.sections .section_inner .menu_view_list > li:nth-child(5), .sections .section_inner .menu_view_list > li:nth-child(6) {
  margin-top: 692px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li:nth-child(5), .sections .section_inner .menu_view_list > li:nth-child(6) {
    margin-top: 92.2666666667vw;
  }
}
.sections .section_inner .menu_view_list > li.on {
  display: block;
  width: 670px;
  height: 394px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li.on {
    width: 89.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .menu_view_list > li.on {
    height: 52.5333333333vw;
  }
}
.sections .section_inner .setting_contents {
  width: 100%;
  height: 212px;
  background: #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents {
    height: 28.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .setting_contents .setting_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 40px 28px 40px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top {
    padding: 5.3333333333vw 5.3333333333vw 3.7333333333vw 5.3333333333vw;
  }
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  opacity: 0.87;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label {
    font-size: 3.4666666667vw;
  }
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
  padding-left: 64px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/btn/btn_check_off.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    padding-left: 8.5333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    width: 5.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    height: 5.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox] {
    background-size: 5.8666666667vw auto;
  }
}
.sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox]:checked {
  background: url("../images/btn/btn_check_on.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top .setting_check_box label input[type=checkbox]:checked {
    background-size: 5.8666666667vw auto;
  }
}
.sections .section_inner .setting_contents .setting_top a {
  position: relative;
  margin-left: auto;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  width: 151px;
  text-align: right;
  border-bottom: 2px solid #1C1B1F;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a {
    width: 20.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a {
    border-bottom: 0.2666666667vw solid #1C1B1F;
  }
}
.sections .section_inner .setting_contents .setting_top a::after {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  display: block;
  width: 23px;
  height: 27px;
  background: url("../images/icons/icon_chart_bars.png") 0 0 no-repeat;
  background-size: 23px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a::after {
    top: 1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a::after {
    width: 3.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a::after {
    height: 3.6vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .setting_top a::after {
    background-size: 3.0666666667vw auto;
  }
}
.sections .section_inner .setting_contents .btn_group {
  position: relative;
  padding-left: 34px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group {
    padding-left: 4.5333333333vw;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-scrolling: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 34px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    gap: 0.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    height: 10vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list {
    padding-right: 4.5333333333vw;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.sections .section_inner .setting_contents .btn_group .btn_list li a {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding: 14px 56px 14px 24px;
  border-radius: 40px;
  border: 1px solid #ddd;
  font-weight: 600;
  color: #000;
  opacity: 0.7;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a {
    line-height: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a {
    padding: 1.8666666667vw 7.4666666667vw 1.8666666667vw 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a {
    border-radius: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a {
    border: 0.1333333333vw solid #ddd;
  }
}
.sections .section_inner .setting_contents .btn_group .btn_list li a::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 24px;
  width: 21px;
  height: 13px;
  background: url("../images/btn/btn_select.png") 0 0 no-repeat;
  background-size: 21px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a::after {
    top: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a::after {
    right: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a::after {
    width: 2.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a::after {
    height: 1.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group .btn_list li a::after {
    background-size: 2.8vw auto;
  }
}
.sections .section_inner .setting_contents .btn_group:after {
  content: "";
  position: absolute;
  top: -18px;
  right: 0;
  width: 126px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, color-stop(29.89%, rgba(255, 255, 255, 0)), color-stop(72.26%, rgba(255, 255, 255, 0.8)), color-stop(99.74%, #FFF));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 29.89%, rgba(255, 255, 255, 0.8) 72.26%, #FFF 99.74%);
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group:after {
    top: -2.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group:after {
    width: 16.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .setting_contents .btn_group:after {
    height: 10.6666666667vw;
  }
}
.sections .section_inner .accident_content {
  margin-top: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content {
    margin-top: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li {
  position: relative;
  margin-top: 20px;
  height: 228px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 40px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    margin-top: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    height: 30.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    -webkit-box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
            box-shadow: 0vw 0vw 1.3333333333vw 0vw rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li {
    border-radius: 5.3333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a {
  position: relative;
  display: block;
  padding: 32px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a {
    padding: 4.2666666667vw 5.3333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt {
    line-height: 3.7333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .complete {
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid #00A862;
  font-size: 24px;
  margin-right: 20px;
  background: #EBFFF7;
  font-weight: 400;
  color: #00A862;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .complete {
    padding: 1.0666666667vw 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .complete {
    border-radius: 1.6vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .complete {
    border: 0.2666666667vw solid #00A862;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .complete {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .complete {
    margin-right: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .accident_type {
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .accident_type {
    padding-right: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt .accident_type {
    font-size: 3.2vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dt .accident_type.red {
  color: #FF0000;
}
.sections .section_inner .accident_content .accident_list > li a dl dt .accident_type.green {
  color: #00A862;
}
.sections .section_inner .accident_content .accident_list > li a dl dt p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dt p {
    font-size: 3.2vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd {
    padding-top: 4.2666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span {
  font-size: 30px;
  line-height: 32px;
  color: #000;
  opacity: 0.8;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span {
    line-height: 4.2666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  width: 308px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: normal;
  text-overflow: ellipsis;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
    padding-left: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child {
    width: 41.0666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
  content: "";
  width: 3px;
  position: absolute;
  top: 3px;
  left: 16px;
  height: 28px;
  background: #888;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    width: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    top: 0.4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    left: 2.1333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd span:last-child:after {
    height: 3.7333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span {
  color: #888;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span {
    padding-left: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:last-child {
  width: auto;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:last-child::after {
  content: none;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
  display: inline-block;
  margin-right: 6px;
  content: "";
  width: 30px;
  height: 28px;
  background: url("../images/icons/icon_rate_review.png") 0 0 no-repeat;
  background-size: 30px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    margin-right: 0.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    width: 4vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    height: 3.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.write:before {
    background-size: 4vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.read {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.read {
    padding-left: 2.6666666667vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span.read .time {
  padding-right: 6px;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a dl dd.last span.read .time {
    padding-right: 0.8vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a dl dd.last span:first-child {
  padding-left: 0;
}
.sections .section_inner .accident_content .accident_list > li a .photo_box {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 40px;
  right: 40px;
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    width: 19.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    height: 19.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    right: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box {
    border-radius: 0.8vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 104px;
  right: 8px;
  height: 36px;
  padding: 10px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    top: 13.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    right: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    height: 4.8vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    padding: 1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box {
    border-radius: 0.9333333333vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
  position: relative;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 400;
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
    text-shadow: 0vw 0.5333333333vw 0.5333333333vw rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li a .photo_box .count_box span {
    font-size: 3.2vw;
  }
}
.sections .section_inner .accident_content .accident_list > li a .photo_box .count_box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.sections .section_inner .accident_content .accident_list > li .btn_bookmark {
  position: absolute;
  top: -10px;
  right: 39px;
  width: 44px;
  height: 70px;
  background: url("../images/btn/btn_bookmark_off.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    top: -1.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    right: 5.2vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    width: 5.8666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    height: 9.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark {
    background-size: 5.8666666667vw auto;
  }
}
.sections .section_inner .accident_content .accident_list > li .btn_bookmark.on {
  background: url("../images/btn/btn_bookmark_on.png") 0 0 no-repeat;
  background-size: 44px auto;
}
@media screen and (max-width: 750px) {
  .sections .section_inner .accident_content .accident_list > li .btn_bookmark.on {
    background-size: 5.8666666667vw auto;
  }
}
.sections section {
  display: none;
}
.sections section.on {
  display: block;
}