@charset "UTF-8";
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 800px;
}

table th {
  background-color: #EB5353;
  height: 50px;
  color: #fff;
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  font-size: 20px;
}

table th:last-child {
  border-right: 0;
}

/*sticky 적용*/
table th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

table td {
  background-color: #FFDEB4;
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

/*sticky 적용*/
table td:first-child {
  background-color: #FFC54D;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

table td:last-child {
  border-right: 0;
}