@charset "UTF-8";
/* 정리중 */
/*폰트 사이즈*/
.setting .cm_type_list {
  position: relative;
}
.setting .cm_type_list:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background: linear-gradient(0deg, #FFF 9.03%, #F6F6F6 100%);
}
@media screen and (max-width: 750px) {
  .setting .cm_type_list:after {
    bottom: -1.6vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_type_list:after {
    height: 1.6vw;
  }
}
.setting .cm_tab_panel .no_alerts {
  display: none;
  padding-top: 278px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .no_alerts {
    padding-top: 37.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .no_alerts {
    font-size: 4vw;
  }
}
.setting .cm_tab_panel .status_message_box {
  display: none;
  padding-top: 266px;
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box {
    padding-top: 35.4666666667vw;
  }
}
.setting .cm_tab_panel .status_message_box .alert_message {
  position: relative;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .alert_message {
    font-size: 4vw;
  }
}
.setting .cm_tab_panel .status_message_box .alert_message:before {
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  background: url("../images/icons/icon_alert_off_b.png") 0 0 no-repeat;
  background-size: 80px auto;
  margin: 0 auto 40px;
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .alert_message:before {
    width: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .alert_message:before {
    height: 10.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .alert_message:before {
    background-size: 10.6666666667vw auto;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .alert_message:before {
    margin: 0 auto 5.3333333333vw;
  }
}
.setting .cm_tab_panel .status_message_box .btn_alarm_link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00A862;
  text-align: center;
  font-size: 32px;
  width: 328px;
  height: 100px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 80px auto 0;
  border-radius: 12px;
  border: 2px solid #00A862;
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    font-size: 4.2666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    width: 43.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    height: 13.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    letter-spacing: 0.0266666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    margin: 10.6666666667vw auto 0;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    border-radius: 1.6vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .cm_tab_panel .status_message_box .btn_alarm_link {
    border: 0.2666666667vw solid #00A862;
  }
}
.setting .cm_tab_panel.list {
  background: #fff;
}
.setting .alarm_list_box .inner {
  padding: 48px 40px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner {
    padding: 6.4vw 5.3333333333vw;
  }
}
.setting .alarm_list_box .inner .lead_box {
  padding-left: 20px;
  color: #AAA;
  font-size: 26px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .lead_box {
    padding-left: 2.6666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .lead_box {
    font-size: 3.4666666667vw;
  }
}
.setting .alarm_list_box .inner .lead_box .count {
  color: rgba(0, 0, 0, 0.87);
  font-size: 26px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .lead_box .count {
    font-size: 3.4666666667vw;
  }
}
.setting .alarm_list_box .inner .alarm_list {
  margin-top: 40px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list {
    margin-top: 5.3333333333vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li {
  margin-top: 80px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li {
    margin-top: 10.6666666667vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl > dt {
  color: #000;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl > dt {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl > dt {
    margin-bottom: 5.3333333333vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list {
  border-top: 2px solid #333;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list {
    border-top: 0.2666666667vw solid #333;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl {
  position: relative;
  border-bottom: 2px solid #EEE;
  padding: 28px 12px 28px 20px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl {
    border-bottom: 0.2666666667vw solid #EEE;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl {
    padding: 3.7333333333vw 1.6vw 3.7333333333vw 2.6666666667vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt {
  color: #000;
  font-size: 26px;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt {
    font-size: 3.4666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt {
    margin-bottom: 1.3333333333vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt.on:before {
  position: absolute;
  top: 40px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background: #00A862;
  border-radius: 50%;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt.on:before {
    top: 5.3333333333vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt.on:before {
    width: 1.0666666667vw;
  }
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl > dt.on:before {
    height: 1.0666666667vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl dd span {
  color: #000;
  font-size: 22px;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li a dl dd span {
    font-size: 2.9333333333vw;
  }
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li.lead a dl dt {
  color: #AAA;
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li.lead a dl dt.on:before {
  display: none;
}
.setting .alarm_list_box .inner .alarm_list > li dl dd .history_list > li.lead a dl dd span {
  color: #AAA;
}
.setting .alarm_list_box .inner .alarm_list > li:first-child {
  margin-top: 0;
}